

.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite
}

@-webkit-keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
}

@keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35px
    }

    to {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124px
    }
}


.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite,colors 5.6s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite,colors 5.6s ease-in-out infinite
}

@keyframes colors {
    0%,25%,50%,75%,to {
        stroke: #fff
    }
}


input {
-webkit-user-select: auto;
}









@charset "UTF-8";
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.7.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-search:before{content:"\f002"}.fa-check:before{content:"\f00c"}.fa-play-circle-o:before{content:"\f01d"}.fa-play:before{content:"\f04b"}.fa-level-up:before{content:"\f148"}
*/


.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite
}

@-webkit-keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
}

@keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
}

.w3-progress-container {
    width: 100%;
    height: 5px;
    opacity: 1;
    bottom: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    background: rgba(0,0,0,.27);
    position: absolute;
        z-index: 7;
}

.w3-progressbar {
    background-color: #e50914;
    height: 100%;
    line-height: inherit;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: width,opacity;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

body {
    
    background-size: cover;
    color: #fff!important;
}

.visited {
    color: #fff
}

.secondary-link:visited {
    color: #00f
}

.secondary-link:link {
    color: green
}

.bottom {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 6px;
    background-color: rgba(76, 76, 76, 0.32);
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);

}

.bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center
}

.bar:nth-child(1) {
    background-color: #da4733;
    -webkit-animation: loading 3s linear infinite;
    animation: loading 3s linear infinite
}

.bar:nth-child(2) {
    background-color: #3b78e7;
    -webkit-animation: loading 3s linear 1s infinite;
    animation: loading 3s linear 1s infinite
}

.bar:nth-child(3) {
    background-color: #fdba2c;
    -webkit-animation: loading 3s linear 2s infinite;
    animation: loading 3s linear 2s infinite
}

.episode-gradient {
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(5%,rgba(0,0,0,.8)),color-stop(95%,transparent));
    background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,.8) 5%,transparent 95%);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 5%,transparent 95%);
    height: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 5;
}

.card {
}

.box {
    height: 50px;
    margin: 61px auto;
    padding-left: 10px;
    padding-right: 10px
}

.container-1 {
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative
}

.container-1 input#search {
    -webkit-appearance: textfield;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.07);
    border: 0;
    font-size: 16px;
    float: left;
    color: #ffffff;
    padding-left: 45px;
    border-radius: 1000px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    font-family: ProximaNovaB;
    transition: background .5s ease,color .3s ease;
    will-change: background,color;

}
.container-1 input#search:focus {
    color: #262626;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.container-1 input#search::-webkit-input-placeholder {
    color: #65737e
}

.container-1 input#search:-moz-placeholder,.container-1 input#search::-moz-placeholder {
    color: #65737e
}

.container-1 input#search:-ms-input-placeholder {
    color: #65737e
}

.nextContainer {
    margin-bottom: 80px
}

.container-1 .icon {
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 14px;
    z-index: 1;
    color: #4f5b66;
    left: 0px;
}

.btn-floating {
    color: #777
}

.container-1 input#search:active,.container-1 input#search:focus {
    outline: 0;
    background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

}

#results {
    text-align: center!important;
    margin: auto;
    padding-top: 2px
}

.piece:hover {
    transition-duration: 200ms;
    position: relative
}

.piece {
    border-radius: 2px
}

.image-crop {
    border-radius: 2px 2px 0 0;
-webkit-transform: translate3d(0,0,0)

    width: 100%;
}
.initialized {
-webkit-transform: translate3d(0,0,0)
}


.piece:hover a.episode-name,.piece:hover a.secondary-link {
    color: #dad6d6!important
 
}

.tvshow:hover {

    opacity: 1;

    transform: scale(1)
}



.tvshow {

    display: inline-block;
    text-align: center;
    margin: 12px;
    
}

.tvshow {
    width: 20vw;
    -webkit-transition: transform 0.3s cubic-bezier(.03,.98,.52,.99);
    transition: transform 0.3s cubic-bezier(.03,.98,.52,.99);
    will-change: opacity,transform;
    opacity: .4;
    box-shadow: 1px 0 0 1px rgba(0,0,0,.33);
    background-size: cover;
    border-radius: 2px;
    transform: scale(0.9);
    box-shadow: 0 1px 1px rgba(0,0,0,.1), 0 1px 8px rgba(0,0,0,.1);
    margin: 6px -9px 6px 6px;
}
.initialized{
        will-change: transform,box-shadow;
}
.tvshow,.tvshow img {
}

.shows {
    white-space: nowrap;
    overflow-y: hidden;
    width: auto;
    -webkit-overflow-scrolling: touch;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    will-change: transform;
    margin: 12px;
    position: relative;
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.17), 0 0 8px 0 rgba(0,0,0,.12);
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden;

}


::-webkit-scrollbar {
    background-color: transparent;
    width: 16px
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: content-box;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #666!important
}

h1,h2 {
    padding: 13px
}

.tvshow:active,.tvshow:focus,.tvshow:hover {
}

.list-inline>li {
    padding-right: 0!important;
    padding-left: 0!important;
    display: inline-block
}

@keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
}

#carasoul {
    margin: auto;
    width: 100%;
    padding: 20px;
}

html {
    -webkit-tap-highlight-color: transparent;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 10px
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #cbb123
}

a:active,a:hover {
    outline: 0
}

img {
    border: 0;
    vertical-align: middle
}

a:focus,a:hover {
    color: #23527c
}

a:hover {
    text-decoration: underline
}

a:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
    text-decoration: none
}

h1,h2 {
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

h1 {
    margin: 20px 0 -10px;
    font-size: 22px;
    font-family: ProximaNova;
}

h2,ul {
    margin-bottom: 10px
}

h2 {
    font-size: 30px;
    margin-top: 20px
}

ul {
    margin-top: 0
}

p {
    margin: 0 0 10px
}

.list-inline,.list-unstyled {
    list-style: none
}

@font-face {
    font-family:ProximaNovaL;src:url(../fonts/proximanovalight.woff)
}

@font-face {
    font-family:ProximaNova;src:url(../fonts/ProximaNova-Reg.otf)
}

@font-face {
    font-family:ProximaNovaSB;src:url(../fonts/ProximaNova-Sbold.otf)
}

@font-face {
    font-family:ProximaNovaB;src:url(../fonts/ProximaNova-Bold.otf)
}

@font-face {
    font-family:ProximaNovaXB;src:url(../fonts/ProximaNova-Xbold.otf)
}

@font-face {
    font-family:DinotCB;src:url(../fonts/DINOT-CondBold.otf)
}

@font-face {
    font-family:DinotCL;src:url(../fonts/DINOT-CondLight.otf)
}

@font-face {
    font-family:DinotL;src:url(../fonts/DINOT-Light.otf)
}

@font-face {
    font-family:Dinot;src:url(../fonts/DINOT-Regular.otf)
}

@font-face {
    font-family:DinotM;src:url(../fonts/DINOT-Medium.otf)
}


.fanarts-list {
    font-size: 0;
    letter-spacing: -1px;
    box-sizing: border-box;

}

::selection {
    background: #ffb7b7
}

::-moz-selection {
    background: #ffb7b7
}
#results{
    font-family: ProximaNovaL;
}
.fanarts-list>li {
    padding: 0;
    margin: 12px;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    border-radius: 2px;
    background: rgb(121, 122, 138);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.17), 0 0 8px 0 rgba(0,0,0,.12);

}
 
.fanarts-list>li .fanart-container {
    padding: 0; 
    overflow: hidden;
    position: relative;
        width: 100%;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
    width: 50px;
    height: 50px;
    border-radius: 51px;
transition: all 100ms ease-in;
}

#myBtn:hover {
background-color: #bb2828;
}
.initialized {
    margin-bottom: 16px;
    border-radius: 3px;
    width: 25vw;
    min-width: 300px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1), 0 1px 8px rgba(0,0,0,.1);
    will-change: opacity,transform;
    -webkit-transition: transform .2s linear;
    transition: transform .2s linear;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    will-change: transform;
    
}


.initialized:hover{
    -webkit-transform:translate3d(0,-5px,0);
    transform: translate3d(0,-5px,0);

}
.initialized:hover::after {
    opacity: 1;
}




.fanarts-list>li .image-crop {
    width: 100%;
    position: relative;
    overflow: visible
    background: rgba(0, 0, 0, 0.28);
    
    
    
    /*  background: url(https://d36rlb2fgh8cjd.cloudfront.net/default-images/landscape-default-q80.jpg);
    background-size: cover;
    */

}

.fanarts-list>li .image-crop img {
    width: 100%
}

div:focus {
    outline: 0
}

h1,h2 {
}

body a {
    color: #3282b6
}

.fanarts-list>li .fanart-details {
    text-align: center;
    letter-spacing: 0;
    font-size: 16px;
    padding-bottom: 15px;
}

.fanarts-list>li .fanart-details h2 {
    color: #444;
    font-size: 16px;
    font-family: ProximaNovaB,serif;
    max-width: 100%
}

.fanarts-list>li .fanart-details h2 a {
    color: #fff9f9;
}

.fanarts-list>li a:hover {
    text-decoration: none
}

.fanarts-list>li .fanart-details .secondary-link {
    font-size: 12px;
color: #dad6d6;
    font-family: ProximaNova
}

.fanarts-list>li .fanart-details .more-infos {
    height: 20px;
    width: 193px;
    margin: 20px auto 0;
    border-top: 1px solid rgba(255, 255, 255, 0.19);
}

.fanarts-list>li .fanart-details p {
    width: 75%;
    margin: 5px auto 0;
color: #dad6d6;
    font-size: 13px;
    font-family: ProximaNova;
    padding: 5px 0
}
.cardBorder {
    width: 193px;
    margin: 20px auto 0;
    border-top: 1px solid rgba(255, 255, 255, 0.19);
}

.image-crop .overlay,.tvshow:hover {
    background: radial-gradient(farthest-corner at 50% 50%,rgba(50,50,50,.5) 50%,#323232 100%);
}
}

.tvshow:hover {
    transform: transale3d(0,0,0);
        box-shadow: 0px 0px 2px 1px rgba(0,0,0,.1);

}

.image-crop .overlay {
    z-index: 20;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    letter-spacing: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -webkit-transition: all .23s ease-out;
    transition: all .23s ease-out;
}

.fanarts-list>li .image-crop .overlay a:focus {
    text-decoration: none
}

.image-crop .overlay .overlay-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 40px;
    color: #fff;
    text-align: center
}



.image-crop:hover .w3-progress-container {
    bottom: 0px;
    opacity: 0;
}
.image-crop img{
-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
}
.image-crop:hover img{
}
.image-crop:hover .overlay {
    -webkit-transform: scale(1);
    transform: scale(1);
    display: block;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100)
}

.image-crop:hover img {
    
}



.initialized {
    will-change: width;
}

.imageBG {
    width: 100%;
    height: 100%
}

.loaded {
    transition: opacity 500ms;
  transform: translate3d(0, 0, 0);
    opacity: 1 !important;
    
}

.cover {
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover!important;
    background-position: 50%;
    opacity: 0;
        will-change: opacity;
}

@media (max-width:600px) {
    .initialized {
        will-change: width;
        border-radius: 0;
        width: 100%;
        max-width: 100%;
        box-shadow: 0 0 0 0 rgba(107,107,107,.15);
        
    }

    .initialized:hover a {
        color: #dad6d6;
    }

    #carasoul {
        margin: auto;
        width: 100%;
        padding-left: 0;
            padding: 1px 8px 0;
    }

    .fanarts-list>li .fanart-container {
        border: 0
    }

    .fanarts-list>li {
        margin: 34px 0 0px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.17),0 0 8px 0 rgba(0,0,0,.12)
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input {
        font-size: 16px
    }
}

@media (min-width:500px) {
    .box {
        width: 650px
    }
}

@media (max-width:700px) {
    .tvshow {
        width: 54vw;
    }

}

@media print {
    img {
        page-break-inside: avoid;
        max-width: 100%!important
    }

    *,:after,:before {
        color: #000!important;
        text-shadow: none!important;
        background: 0 0!important;
        box-shadow: none!important
    }

    a,a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    h2,p {
        orphans: 3;
        widows: 3
    }

    h2 {
        page-break-after: avoid
    }
}

.logo {
    width: 75px;
    margin: auto
}

.btn-floating.btn-large {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background: #fff;
    text-align: center;
    vertical-align: middle
}

.logo {
    opacity: .5;
    transition-duration: 400ms
}

.logo:hover {
    display: block;
    opacity: 1
}

.header {
    text-align: center;
    margin: auto
}

.playbutton {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
        text-shadow: 0 1px 7px rgba(0, 0, 0, 0.46);
      will-change: transform;

}


.playbutton:hover {
    text-shadow: 0 1px 7px #fff;
transition: all 1s cubic-bezier(0.12, 0.49, 0.9, 3.59);
    
        transform: scale(1.2);
}
.playbutton:active {
    color: #b3b2b2;
}
.sixteen-nine {
    position: absolute
}

.sixteen-nine:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%
}

@media (max-width:800px) {
    .fanarts-list>li .image-crop {
        width: 100%;
        overflow: hidden;
        position: relative
    }

    .fanarts-list>li .image-crop img {
        width: 100%;
        height: auto
    }
}
.initialized:active {
    transform: scale(.998)
}
   .new-label {
      position: absolute;
    top: 24px;
    left: -30px;
    width: 77px;
    height: 39px;
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: gold;
    color: rgba(39, 39, 39, .8);
    font-family: ProximaNovaSB;
    font-size: 12px;
    text-transform: uppercase;
    z-index: 10;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    padding-top: 16px;
    text-align: center;
   }

* {
    box-sizing: border-box;
}
